@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        box-sizing: border-box;
        user-select: none;
    }
}

@layer components{
    .navBtns{
        @apply text-white  text-[12px] lg:text-sm font-bold font-poppins outline-1 hover:underline md:hover:outline md:hover:no-underline px-1 h-full cursor-pointer flex justify-center items-center
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}